<div>
  <h1>Administracion de articulos</h1>
  <table>
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Borrar</th>
        <th>Seleccionar</th>
      </tr>
    </thead>
    <tbody>
      @for (item of articulos; track articulos.codigo) {
        <tr>
          <td>{{item.codigo}}</td>
          <td>{{item.descripcion}}</td>
          <td>{{item.precio}}</td>
          <td><button (click)="baja(articulos.codigo)">Borrar?</button></td>
          <td><button (click)="seleccionar(articulos.codigo)">Seleccionar?</button></td>
        </tr>
      }
    </tbody>
  </table>
  <div>
    <p>
      Descripcion: <input type="text" [ngModel]="art.descripcion">
    </p>
    <p>Precio: <input type="text" [ngModel]="art.precio"></p>
    <p><button (click)="alta()">Agregar</button></p>
    <p (click)="modificacion()">Modificar</p>
  </div>
</div>

