<!-- Confeccionar un formulario que permita cargar los siguientes datos de un alumno: dni, 
 nombre, materia y sus tres notas. Agrupar las tres notas dentro de un FormGroup anidado al principal.
Al presionar un botón mostrar un mensaje si se encuentra aprobado (todas las notas mayores o iguales a 4) -->

<form action="" [formGroup]="formAlumno" (ngSubmit)="submit()">
  <div>
    <label for="dni">DNI: </label>
    <input id="dni" type="text" formControlName="dni">
  </div>
  <br>
  <div>
    <label for="nombre">Nombre: </label>
    <input id="nombre" type="text" formControlName="nombre">
  </div>
  <br>
  <div>
    <label for="materia">Materia: </label>
    <input type="text" id="materia" formControlName="materia">
  </div>
  <br>
  <div formGroupName="notas">
    <div>
      <label for="note1">Nota 1: </label>
      <input type="text" id="note1" formControlName="nota1">
    </div>
    <br>
    <div>
      <label for="note2">Nota 2: </label>
      <input id="note2" type="text" formControlName="nota2">
    </div>
    <br>
    <div>
      <label for="note3">Nota 3: </label>
      <input id="note3" type="text" formControlName="nota3">
    </div>
  </div>
  
  <button type="submit">Confirmar</button>

</form>

<div>
  <p>Resultado: {{resultado}}</p>
</div>

