<!-- <div>
  <label for="nombre">Ingrese el nombre:</label>
  <input type="text" [(ngModel)]="nombre" id="nombre">
  <br>
  <label for="apellido">Ingrese el apellido:</label>
  <input type="text" [(ngModel)]="apellido" id="apellido">
  
  <p>Nombre Completo: {{nombre}} {{apellido}}</p>
</div> -->

<h1>Administracion de articulos</h1>
@if (hayRegistros()) {
  <table>
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Borrar</th>
        <th>Seleccionar</th>
      </tr>
    </thead>
    <tbody>
      @for(art of articulos; track art.codigo) {
      <tr>
        <td>{{art.codigo}}</td>
        <td>{{art.descripcion}}</td>
        <td>{{art.precio}}</td>
        <td><button (click)="borrar(art.codigo)">Borrar?</button></td>
        <td><button (click)="seleccionar(art)">Seleccionar</button></td>
      </tr>
      }
    </tbody>
  </table>
  } @else {
  <p>No hay articulos.</p>
  }
  <div>
    <label for="codigo">Codigo: </label>
    <input type="number" [(ngModel)]="art.codigo" id="codigo">
    <br>
    <label for="descripcion">Descripcion: </label>
    <input type="text" [(ngModel)]="art.descripcion" id="descripcion">
    <br>
    <label for="precio">Precio: </label>
    <input type="number" [(ngModel)]="art.precio" id="precio">
    <div>
      <button (click)="agregar()">Agregar</button>
      <button (click)="modificar()">Modificar</button>
    </div>
  </div>



