<!-- Problema
Confeccionar una aplicación que permita ingresar actividades pendientes mediante un control 'input' de tipo 'text'.

Se deben listar todas las actividades ingresadas hasta el momento, además de poder borrar una en particular o todas a la vez.

Almacenar en forma local en el navegador las actividades mediante el API localStorage para evitar que se pierdan las actividades cuando se cierre el navegador. -->
<div>
  <input type="text" [formControl]="actividad">
  <button (click)="agregar()">Agregar</button>
</div>
<ol>
  @for(art of lista: track $index){
    <li>
      {{art}} <a (click)="borrar($index)" href="#">Borrar?</a>
    </li>
  }
</ol>
<p><button (click)="borrarTodas()">Borrar todas las actividades</button></p>
